/* Fade-in animation */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Adjust for slide effect */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @keyframes downToUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-down-to-up {
    animation: downToUp 2s ease-out forwards;
  }
  .body{
    background-color: #EEEEEE;
  }
  
  /* Initial state: hidden */
  .fade-in-section {
    opacity: 0;
    transform: translateY(20px); /* Adjust for slide effect */
    transition: opacity 2s ease-out, transform 2s ease-out;
  }
  
  /* When the element is in view */
  .fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInLeft 3s ease-out; /* Apply the fadeInLeft animation */
  }
  
  /* SoftwareDeveloper.css */
  
  /* Flex container for each section */
  .content-box {
      height: 90vh; /* Full viewport height */
      display: flex;
      align-items: center; /* Center content vertically */
      justify-content: space-between; /* Distribute space between content and image */
      margin: 0 auto; /* Center the content horizontally within the container */
      padding: 0 5% 4%; /* Adjust padding to create minimal blank space */
      box-sizing: border-box; /* Include padding and borders in the element's width and height */
      width: 100%; /* Use the full width of the screen */
  }
  
  /* For rows with text and image */
  .content-box img {
    max-width: 100%;
    height: auto; /* Ensure image scales properly */
    border-radius: 15px; /* Add a soft shadow for a blended effect */
  }
  
  /* Content section styling */
  .content {
    font-family: Georgia;
    flex: 1; /* Allow content to grow */
  }
  
  /* Ensure image sections do not exceed a max-width */
  .img {
    flex: 1; /* Allow image to grow */
    margin-right: 20px;
  }
  
  /* Add a specific width to the image if needed */
  .img img {
    max-width: 110%;
    height: 40cap;
  }
  
  /* For sections with the image on the right */
  
  /* Adjustments for responsiveness */
  @media (max-width: 1050px) {
    .content-box {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start; /* Align items to the start */
    }
    .content {
        margin-right: 0; /* Remove margin for stacked layout */
        margin-bottom: 20px; /* Space below the content */
    }
    .img {
        margin-bottom: 20px; /* Space below the image */
    }
   
  }
  
  @media (max-width: 1050px) {
    .reverse-content{
      flex-direction: row-reverse;
      align-items: flex-end;
    }
    .reverse-content .content {
      order: 1; /* Show content first */
  }
  
  .reverse-content .img {
      order: 2; /* Show image after content */
  }
  
  }