.carousel {
  position: relative;
}

.carousel-slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(2px); */
}

.carousel-arrow-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:rgba(77, 171, 206, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-prev,
.carousel-next {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
  outline: none;
}

.carousel-prev:hover,
.carousel-next:hover {
  background: rgba(0, 0, 0, 0.7);
}

.dot {
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Increased Size of Active Dot */
.carousel-indicators .dot.w-5.h-5 {
  width: 20px;
  height: 20px;
}

/* Hover Effect for Dot */
.dot:hover {
  width: 20px;
  height: 20px;
}

/* Carousel Text Animations */
.animate-right-to-left {
  animation: slide-right-to-left 0.5s ease forwards;
}

.animate-left-to-right {
  animation: slide-left-to-right 0.5s ease forwards;
}

@keyframes slide-right-to-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Delayed Animation for Paragraph */
.carousel-heading {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  animation: fade-in 0.5s ease forwards;
}

.carousel-subtext {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  animation: fade-in 0.5s ease forwards;
  animation-delay: 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Overlay to Highlight Text Area */
.overlay {
  position: absolute;
  left: 0;
  width: 45%;
  height: 100%;
  background: linear-gradient(90deg, rgba(37, 37, 37, 0.5) 70%, transparent 100%);
  backdrop-filter: blur(6px);
  clip-path: ellipse(100% 100% at 0% 0%);
  padding: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: drop-shadow(50px 10px 55px rgba(0, 0, 0, 0.5)); /* Adjust shadow size and color */
}

.read-more-button {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.read-more-button .arrow {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.read-more-button:hover {
  color: #4dabce;
}

.read-more-button:hover .arrow {
  transform: translateX(5px);
}