/* Import Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-[#f0f4f8] text-gray-900 m-0;
}

/* Define custom color variables */
:root {
  --navbar-background: #F2F9F9;
  --primary-button-icon: #00D1F9;
  --secondary-text-button-border: #19409A;
  --heading-text: #001442;
  --box-shadow-color: rgba(0, 0, 0, 0.08);
  --description-text-footer-text: #808080;
  --card-background: #F2F9F9;
  --footer-heading: #FFFFFF;
}

/* Apply the custom colors using Tailwind classes */
.navbar {
  @apply bg-[var(--navbar-background)];
}

/* Custom hover text color */
.navbar-hover-text {
  @apply text-[var(--heading-text)] transition-colors duration-300; /* Default text color and transition */
}

.navbar-hover-text:hover {
  @apply text-[#00D1F9]; /* Hover text color */
}

.button-primary, .icon {
  @apply text-[var(--primary-button-icon)] bg-[var(--primary-button-icon)];
}

.button-secondary, .card-border, .footer-elements {
  @apply text-[var(--secondary-text-button-border)] border-[var(--secondary-text-button-border)];
}

.heading {
  @apply text-[var(--heading-text)];
}

.box-shadow {
  @apply shadow-[0_0_45px_var(--box-shadow-color)];
}

.description, .footer-text {
  @apply text-[var(--description-text-footer-text)];
}

.card {
  @apply bg-[var(--card-background)];
}

.footer-heading {
  @apply text-[var(--footer-heading)];
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3); /* Transparent background for frosted-glass effect */
  backdrop-filter: blur(5px); /* Apply blur for frosted-glass effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari support */
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.6); /* Semi-transparent thumb */
  backdrop-filter: blur(5px); /* Apply blur to thumb */
  -webkit-backdrop-filter: blur(5px); /* For Safari support */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.6); /* Darker on hover with transparency */
  backdrop-filter: blur(5px); /* Apply blur on hover */
  -webkit-backdrop-filter: blur(5px); /* For Safari support */
}
