/* Import Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-[#f0f4f8] text-gray-900 m-0;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3); /* Transparent background for frosted-glass effect */
  backdrop-filter: blur(5px); /* Apply blur for frosted-glass effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari support */
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.6); /* Semi-transparent thumb */
  backdrop-filter: blur(5px); /* Apply blur to thumb */
  -webkit-backdrop-filter: blur(5px); /* For Safari support */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.6); /* Darker on hover with transparency */
  backdrop-filter: blur(5px); /* Apply blur on hover */
  -webkit-backdrop-filter: blur(5px); /* For Safari support */
}
